
.header {
  border-bottom-style:solid; 
  border-width:7px;
  text-align:center;
  border-color:#454545;
  background-color:#CAE8E8;
  left:0;
  right:0;
  top:0;
}

.headerText {
  color:#454545;
  padding: 5px;
  display:inline-block;
  font-size:40px;
  font-family: Arial, Helvetica, sans-serif;
  margin:10px;
}

.navLinkButtons {
  border-radius:2px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  height : 25px;
}






