.recipeOverview {
  margin:20px auto;
  width:75%;
}

.recipeLink {
  color:#454545
}
.singleRecipeBackButton {
  margin:10px auto;
  width:80%;
  display:inline-block;
  border-radius:2px;
}
.singleRecipeUserSaveButton {
  margin:2px;
  border-radius:2px;
}